<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" thread-count="5" parallel="methods">
    <listeners>
        <listener class-name="com.qa.listners.RawListner"/>

    </listeners>
    <test name="HRM">
        <packages>
            <package name="com.qa.tests"/>
        </packages>
    </test> <!-- Test -->
</suite> <!-- Suite -->